.title {
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	background-color: #66CCCC;
	border-bottom: 10px solid #ccc;
}
.input-sec {
	div {
		height: 3.5rem;
		line-height: 3.5rem;
		border-bottom: 1px solid #ccc;
		label {
			//display: inline-block;
			width: 10rem;
			background-color: #FF99CC;
		}
		input {
			height: 3.5rem;
			line-height: 3.5rem;
			width: 20rem;
			&.first {
				background-color: #ccff66;
			}
		}
	}
}

.show-sec {
	font-size: 16px;
	div {
		height: 3.5rem;
		line-height: 3.5rem;
	}
}






.rem1 {
	font-size: 1rem;
}
.rem2 {
	font-size: 2rem;
}
.rem3 {
	font-size: 3rem;
}
.rem4 {
	font-size: 4rem;
}