/*body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #34495e;
  background-color: #fff; }*/

body {
  padding: 0px !important;
  margin: 0px !important;
  font-family: Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 14px; 
  /*color: #333333;*/
  color: #34495e;
  /*direction: "ltr";*/
}

$miku-color : #39C5BB;
$rin-color : #FFA500;
$ren-color : #FFE212;
$luka-color : #FFBFCB;
$meiko-color : #D80000;
$kaito-color : #0000FF;

.clearfix {
    clear: both;
}
.clearfix:after {
    content: '';
    display: table;
    zoom: 1;
}