/**
 * Name: Common Style
 * Author: Jacky_cjs
 */

// Static Variable
$miku-color: #39C5BB;
$rin-color: #FFA500;
$ren-color: #FFE212;
$luka-color: #FFBFCB;
$meiko-color: #D80000;
$kaito-color: #0000FF;

// Common Css Module
body {
    padding: 0px !important;
    margin: 0px !important;
    color: #34495e;
    font-family: Helvetica, Arial, "Microsoft YaHei", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clearfix {
    clear: both;
}
.clearfix:after {
    content: '';
    display: table;
    zoom: 1;
}