<!DOCTYPE html>
<html ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
    <meta charset="UTF-8">
    <title ng-bind-template="Title:{{query}}">Title</title>

    <style>
        body {
            padding: 20px;
        }
        .ctrl-wrap {
            margin: 0 auto;
        }
        input.ng-invalid {
            background-color: #ccf;
        }
        table, th , td {
            padding: 5px;
            border: 1px solid grey;
            border-collapse: collapse;
        }
        .hide-test {
            transition: all linear 0.5s;
            background-color: lightblue;
            height: 100px;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }

        .ng-hide {
            height: 0;
            width: 0;
            background-color: transparent;
            top:-200px;
            left: 200px;
        }
    </style>

</head>
<body>

    <!-- main demo -->
    <div class="ctrl-wrap">
        <h1 ng-bind-template="Title:{{query}}"></h1>

        <div>
            <!-- query -->
            Search: <input ng-model="query" required><span>{{query || rootStr}}</span>
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
            </select>

            <ul>
                <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                    {{phone.name}}
                    <span>{{phone.snippet}}</span>
                </li>
            </ul>
            <p>Total number of phones: {{phones.length}}</p>
            <p>{{sayHello()}}</p>
        </div>

        <div>
            <table>
                <tr><th>row number</th></tr>
                <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
            </table>
        </div>


        <!-- angular directive 自定义指令 -->
        <runoob-directive></runoob-directive>

        <div runoob-directive></div>

        <div class="runoob-directive"></div>

        <!-- 指令: runoob-directive -->



        <!-- form elements -->
        <form name="myForm" ng-init="myText = 'test@runoob.com'">
            Email:
            <input type="email" name="myAddress" ng-model="myText">
            <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
            <h1>状态</h1>
            <p>Valid: {{myForm.myAddress.$valid}} (如果输入的值是合法的则为 true)。</p>
            <p>Dirty: {{myForm.myAddress.$dirty}} (如果值改变则为 true)。</p>
            <p>Touched: {{myForm.myAddress.$touched}} (如果通过触屏点击则为 true)。</p>


            <select ng-model="selectedName" ng-options="x for x in names"></select>

            <select id="test_sel2" ng-model="selectedSite" ng-options="x.site for x in sites"></select>
            <h1>你选择的是: {{selectedSite.site}}</h1>
            <p>网址为: {{selectedSite.url}}</p>

            <select ng-model="selectedCar" ng-options="y.brand for (x, y) in cars">
            </select>

            <h1>你选择的是: {{selectedCar.brand}}</h1>
            <h2>模型: {{selectedCar.model}}</h2>
            <h3>颜色: {{selectedCar.color}}</h3>
        </form>


        <!--  table  -->
        <table>
            <tr ng-repeat="x in tableData">
                <td>{{ $index + 1 }}</td>
                <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Name }}</td>
                <td ng-if="$even">{{ x.Name }}</td>
                <td ng-if="$odd" style="background-color:#f1f1f1">{{ x.Country | uppercase }}</td>
                <td ng-if="$even">{{ x.Country | uppercase }}</td>
            </tr>
        </table>


        <!--
            ng-disabled 指令绑定应用程序数据 "mySwitch" 到 HTML 的 disabled 属性。
            ng-model 指令绑定 "mySwitch" 到 HTML input checkbox 元素的内容（value）。
         -->
        <p>
            <button ng-disabled="mySwitch">点我!</button>
        </p>
        <p>
            <input type="checkbox" ng-model="mySwitch"/>按钮
        </p>
        <p>
            {{ mySwitch }}
        </p>

        <p ng-show="true">我是可见的。</p>

        <p ng-show="hour > 12">我是不可见的。</p>

        <p ng-hide="true">我是不可见的。</p>

        <p ng-hide="false">我是可见的。</p>


        <!-- AngularJS 事件 -->
        <button ng-click="toggle()">>隐藏/显示</button>

        <p ng-hide="myVar">
            名: <input type="text" ng-model="firstName"><br>
            姓名: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </p>
    </div>


    <!-- sub demo -->
    <div class="ctrl-wrap" ng-controller="myCtrl">
        {{ firstName + " " + lastName }}

        <h2>Validation Example</h2>

        <form name="myForm" novalidate>

            <p>用户名:<br>
                <input type="text" name="user" ng-model="user" required>
                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">用户名是必须的。</span>
                </span>
            </p>

            <p>邮箱:<br>
                <input type="email" name="email" ng-model="email" required>
                <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
                    <span ng-show="myForm.email.$error.email">非法的邮箱。</span>
                </span>
            </p>

            <p>
                <input type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid || myForm.email.$dirty && myForm.email.$invalid">
            </p>
        </form>


        <!-- AngularJS 动画 -->
        <h1>隐藏 DIV: <input type="checkbox" ng-model="myCheck"></h1>

        <div ng-hide="myCheck" class="hide-test"></div>


        <h2>AngularJS 路由应用</h2>
        <ul>
            <li><a href="#/">首页</a></li>
            <li><a href="#/computers">电脑</a></li>
            <li><a href="#/printers">打印机</a></li>
            <li><a href="#/blabla">其他</a></li>
        </ul>
        <div ng-view></div>
    </div>

<script type="text/javascript" src="/static/common/angular.js" feather-position-fixed></script>
<script type="text/javascript" src="/static/common/angular-animate.js" feather-position-fixed></script>
    <script type="text/javascript" src="/static/common/angular-route.js" feather-position-fixed></script>

<script type="text/javascript" feather-position-fixed>
    require.async('/static/web/angular/test.js');

    /* AngularJS 全局 API */
    var str = 'Hello World !!', num = 1245012450, bol = true,
        obj = {
            a: 'abc',
            b: 123
        },
        arr = [], fuc = function(){}, reg = /\w/,
        n = null, u = undefined,
        toStr = Object.prototype.toString;

    console.log(angular.lowercase(str));
    console.log(angular.uppercase(str));
    console.log(angular.isString(str));
    console.log(angular.isNumber(num));


    var app = angular.module('phonecatApp', ['ngAnimate', 'ngRoute']).config(['$routeProvider', function($routeProvider){
        $routeProvider.when('/',{template:'这是首页页面'})
            .when('/computers',{template:'这是电脑分类页面'})
            .when('/printers',{template:'这是打印机页面'})
            .otherwise({redirectTo:'/'});
    }]);;

    app.service('hexafy', function() {
        this.myFunc = function (x) {
            return x.toString(16).toUpperCase();
        }
    });

    app.filter('myFormat', ['hexify', function(){
        return function(x){           //                                            ↓
            return hexify.myFunc(x);  // 使用 <li ng-repeat="x in counts">{{x | myFormat}}</li>
        };
    }]);


    /*
        在 AngularJS 中，服务是一个函数或对象，可在你的 AngularJS 应用中使用。
        AngularJS 内建了30 多个服务。
    */
    app.controller('PhoneListCtrl', function($scope, $rootScope, $location, $http, $timeout, $interval, hexafy) {
        $scope.phones = [
            {'name': 'Nexus S',
                'snippet': 'Fast just got faster with Nexus S.',
                'age': 1},
            {'name': 'Motorola XOOM™ with Wi-Fi',
                'snippet': 'The Next, Next Generation tablet.',
                'age': 2},
            {'name': 'MOTOROLA XOOM™',
                'snippet': 'The Next, Next Generation tablet.',
                'age': 3}
        ];

        $scope.orderProp = 'age';
        $scope.sayHello = function(){
            return "Say Hello";
        };

        $scope.names = ["Google", "Runoob", "Taobao"];              // ng-options 演示
        $scope.sites = [                                            // 数组
            {site : "Google", url : "http://www.google.com"},
            {site : "Runoob", url : "http://www.runoob.com"},
            {site : "Taobao", url : "http://www.taobao.com"}
        ];
        $scope.cars = {                                             // 对象
            car01 : {brand : "Ford", model : "Mustang", color : "red"},
            car02 : {brand : "Fiat", model : "500", color : "white"},
            car03 : {brand : "Volvo", model : "XC90", color : "black"}
        };

        $scope.tableData = [
            {
                City: "Berlin",
                Country: "Germany",
                Name: "Alfreds Futterkiste"
            },
            {
                City: "México D.F.",
                Country: "Mexico",
                Name: "Ana Trujillo Emparedados y helados"
            },
            {
                City: "México D.F.",
                Country: "Mexico",
                Name: "Antonio Moreno Taquería"
            }

        ];

        $scope.mySwitch= true;
        $scope.hour = 13;

        /* AngularJS 事件 */
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.myVar = false;
        $scope.toggle = function() {
            $scope.myVar = !$scope.myVar;
        };



        $rootScope.rootStr = "Here is rootStr";

        console.log($location);

        $http.get("/test/ajax").then(function (response) {
            console.log('response:', response);
        });

        $timeout(function () {
            console.log("Here is Timeout fuc");
        }, 2000);

        $interval(function () {
            console.log(new Date().toLocaleTimeString());
        }, 50000);

        console.log(hexafy.myFunc(254));
    });


    app.controller("myCtrl", function($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
        $scope.user = 'John Doe';
        $scope.email = 'john.doe@gmail.com';
    });

    /*
     除了 AngularJS 内置的指令外，我们还可以创建自定义指令。
     你可以使用 .directive 函数来添加自定义的指令。
     要调用自定义指令，HTMl 元素上需要添加自定义指令名。
     使用驼峰法来命名一个指令， runoobDirective, 但在使用它时需要以 - 分割, runoob-directive:
    */
    app.directive("runoobDirective", function() {
        return {
            //restrict 默认值为 EA, 即可以通过元素名和属性名来调用指令。

            //restrict : "E", E 只限元素名使用
            //restrict : "A", A 只限属性使用

            //restrict : "C", C 只限类名使用

            //restrict : "M", M 只限注释使用
            //replace : true, M 必须配合replace才能使用

            template : "<h1>自定义指令!</h1>"
        };
    });




    /*
    * AngularJS 依赖注入
    */


    /* value
     Value 是一个简单的 javascript 对象，用于向控制器传递值（配置阶段）： */

    // 定义一个模块
    var mainApp = angular.module("mainApp", []);

    // 创建 value 对象 "defaultInput" 并传递数据
    mainApp.value("defaultInput", 5);

    // 将 "defaultInput" 注入到控制器
    mainApp.controller('CalcController', function($scope, CalcService, defaultInput) {
        $scope.number = defaultInput;
        $scope.result = CalcService.square($scope.number);

        $scope.square = function() {
            $scope.result = CalcService.square($scope.number);
        }
    });


    /* factory
     factory 是一个函数用于返回值。在 service 和 controller 需要时创建。
     通常我们使用 factory 函数来计算或返回值。 */

    // 定义一个模块
    var mainApp = angular.module("mainApp", []);

    // 创建 factory "MathService" 用于两数的乘积 provides a method multiply to return multiplication of two numbers
    mainApp.factory('MathService', function() {
        var factory = {};

        factory.multiply = function(a, b) {
            return a * b
        }
        return factory;
    });

    // 在 service 中注入 factory "MathService"
    mainApp.service('CalcService', function(MathService){
        this.square = function(a) {
            return MathService.multiply(a,a);
        }
    });


    /* provider
     AngularJS 中通过 provider 创建一个 service、factory等(配置阶段)。
     Provider 中提供了一个 factory 方法 get()，它用于返回 value/service/factory。 */

    // 定义一个模块
    var mainApp = angular.module("mainApp", []);

    // 使用 provider 创建 service 定义一个方法用于计算两数乘积
    mainApp.config(function($provide) {
        $provide.provider('MathService', function() {
            this.$get = function() {
                var factory = {};

                factory.multiply = function(a, b) {
                    return a * b;
                }
                return factory;
            };
        });
    });


</script>

</body>
</html>