body {
    margin: 0;
    font: 14px/1.4  "Hiragino Sans GB","Microsoft Yahei","Helvetica Neue", Helvetica, sans-serif, tahoma, arial;
    color: #444;
}
input {
	border: 0;
	outline: none;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    overflow: hidden;
}
.fl{
    float: left;
}

.fr{
    float: right;
}